* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    background-color: #3bd988;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
    
  }
  
  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
  }
  
  .card {
    background-color: #ffffff80;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
    width: 400px;
  }
  
  h1{
    text-align: center;
    margin-bottom: 20px;
    color: #1F6621;
  }
  
  .label-float input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #009C05;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
    
  }
  
  .label-float{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .label-float input:focus{
    border-bottom: 2px solid #176517;
  }
  
  .label-float label{
    pointer-events: none;
    color: #2F6548;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
  }
  
  .label-float input:focus + label,
  .label-float input:valid + label,
  .label-float input:invalid + label{
  font-size: 13px;
  margin-top: 0;
  color: #176517;
  }
  
  button{
    background-color: transparent;
    border-color: #3FCC00;
    color: #363636;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
  }
  
  button:hover{
    background-color: #00BF28;
    color: #fff;
  }
  
  .justify-center{
    display: flex;
    justify-content: center;
  }
  
  #msgError{
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
  }
  
  #msgSuccess{
    text-align: center;
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display: none;
  }